@use 'variaveis';

body {
    background-color: variaveis.$corPrincipal;
}

.gulpp  {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;

    button {
        padding: 25px;
        font-size: 32px;
        width: 40%;
        border-radius: 2px;
        cursor: pointer;
        color: crimson;
    }
}
